{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<main>
    <h1 class="entryWorld">Bienvenue dans mon monde</h1>

    {% for picture in pictures %}

    <div class="photos">
        <a href="{{ path('pictures_show', {'id' : picture.id}) }}">
        <img title="{{ picture.title }}" src="/Images/dbPictures/{{ picture.image }}" alt="{{ picture.title }}">
        </a>
    {% endfor %}
    </div>


</main>
{% endblock %}
